There ya go!!! Now that you got your password right, let's get to know each other. <br>
Please enter your first and last name. <br>
<form method="post" action="/get_name">
	<input type ="text" name="fname">
	<input type="text" name="lname">
	<input type="submit">
	</form>
<!-- This is the page you land on if you enter a correct password. At this stage we ask for the user's first and last name. -->