

<font size="6"><b>There ya go!!! Now that you got your password right, let's get to know each other.</b></font> <br>
<i>Please enter your first and last name.</i> <br>

<form method="post" action="/get_name">
	<input type ="text" name="fname">
	<input type="text" name="lname">
	<input type="submit">
	</form>
	<img src = "./img/welcome.jpg"><br>
<!-- This is the page you land on if you enter a correct password. At this stage we ask for the user's first and last name. -->