<!-- This is the start page, or my home page -->
Woah, dude to enter this handy little tool you must first enter a password!<br>
<b>Please enter a password:<b/>
<!-- <b>.....<b/> gives us bold print -->
<form method = 'post' action = '/index'>
	<input type = 'password' name = 'password'>
	<input type = 'submit'>
</form>