<!-- This is the start page, or my home page -->
<font size="6"><b>Woah, dude to enter this handy little calculator tool you must first enter a password!</b></font><br>
<b>Please enter a password:<b/>
<!-- <b>.....<b/> gives us bold print -->
<form method = 'post' action = '/index'>
	<input type = 'password' name = 'password'>
	<input type = 'submit'>
</form>