Woah, dude to enter this handy little tool you must first enter a password!<br>
<b>Please enter a password:<b/>
<form method = 'post' action = '/index'>
	<input type = 'password' name = 'password'>
	<input type = 'submit'>
</form>