<font size="6">Ok bub, try again. Keep in mind, we can't do this all day.</font><br>
<font size="6"><b>Please enter a password:</b></font>
<form method = 'post' action = '/log2'>
	<input type = 'password' name = 'password'>
	<input type = 'submit'>
	
</form>
<img src = "./img/skeleton.jpg"><br>
<!-- This is the second logon page for the redirection from the wrong password page. Even though I tried to be funny, the redirect continues to work until either the user enters a correct password or quits -->