Ok bub, try again. Keep in mind, we can't do this all damn day.<br>
<b>Please enter a password:<b/>
<form method = 'post' action = '/log2'>
	<input type = 'password' name = 'password'>
	<input type = 'submit'>
</form>