<font size="8">Wah Wah, no cigar!!!</font><br>
<img src = "./img/wrongpword.jpg"><br>

<font size="6"><b>Try again sucka!!!</b></font> <br>
<font size="4">Wanna give her another go? Here's your chance to try again.</font>
<form method = 'post' action = '/wrong_pass'>
	
	<input type = 'submit'>
</form>

<!-- This is the page you land on if you enter a wrong password. You are given the chance to try again, with a redirect in the app.rb file to 2nd logon page. -->